<h4 style="font-family: sans-serif; text-align: center; color:#777575;margin:10px;">Paketleme</h4>
<div class="container p-3 my-3 border"
    style="height: 305px; width: 934px; border-radius: 15px; background-color: white;  ">
    <div class="sidebar-search">
        <div>
        </div>
    </div>
    <div class="media text-muted pt-3" style="width:100%">
        <table class="table table-striped">
            <tr>
                <th>
                    Ürün Adı
                </th>
                <th>
                    Renk
                </th>
                <th>
                    Zemin
                </th>
                <th>
                    İp
                </th>
                <th>
                    Desen
                </th>
                <th>
                  Vuruş
              </th>
            </tr>
            <tr class="item" *ngFor="let data of datas ">

                <td >{{ data.item.name }}</td>
                <td >{{ data.item.color}}</td>
                <td >{{ data.item.floor}}</td>
                <td >{{ data.item.rope }}</td>
                <td >{{ data.item.pattern }}</td>
                <td >{{ data.item.strike }}</td>
            </tr> 
        </table>
    </div>
</div>