<div style="margin: 100px;">
  <div class="container">
    <div class="row ">
      <div class="col-6 ">
        <button (click)="toggleNew()" (click)="!toggleInprogress()"
          style="border-radius: 25px; background-color:#1D4E89; color: floralwhite; width: 100px; height: 40px;float:right;">Yeni</button>
      </div>
      <div class="col-6 ">
        <button (click)="!toggleNew()" (click)="toggleInprogress()"
          style="border-radius: 25px; background-color: #1D4E89; color: floralwhite; width: 100px; height: 40px;">Tamamlanmış</button>
      </div>
    </div>
    <div class="row ">
      <div [hidden]="isShow" class=" container">
        <app-new-order></app-new-order>
      </div>
      <div [hidden]="deneme"  class=" container ">
        <app-uncomplete-order></app-uncomplete-order>
      </div>
    </div>
  </div>
</div>