<div class="container">
  <div class="row btn-container">
    <div class="ats-margin-right">
      <button (click)="toggleNew()"
              type="button"
              [ngClass]="isNewOrder==true?'btn-selected btn-proccess btn':'btn-proccess btn'">
        Yeni
      </button>
    </div>
    <div class="ats-margin-right">
      <button (click)="toggleInprogress()"
              [ngClass]="isProgressOrder==true?'btn-selected btn-proccess btn':'btn-proccess btn'">İşlemde
      </button>
    </div>

    <div class="ats-margin-right">
      <button
        [ngClass]="isCompletedOrder==true?'btn-selected btn-proccess btn':'btn-proccess btn'"
        (click)="toggleComplatedOrder()">Tamamlanmış
      </button>
    </div>

  </div>
  <br>


  <div class="row ">
    <div [hidden]="isShow" class=" container">
      <app-new-order></app-new-order>
    </div>
    <div [hidden]="deneme" class=" container ">
      <app-uncomplate-order></app-uncomplate-order>
    </div>
    <div [hidden]="deneme1" class=" container ">
      <app-complated-order></app-complated-order>
    </div>
  </div>
</div>
