@import "~bootstrap/scss/bootstrap";


.btn-proccess{
  width: 200px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  color: #000000ad;
  border-radius: 20px;
  box-shadow: 0 0 1px 0 rgba(106, 120, 245, 0.15);
  border: solid 1px #eaeaea;
  background-color: #ffffff;
}

.btn-container{
  display: flex;
  justify-content: center;
  .ats-margin-right{
    margin-right: 20px;
  }
}

.btn-selected{
  background: #ffc107;
  color: white;
}

.order-container{
  padding: 0 50px;
  @include media-breakpoint-down(md) {
    
    }
  @include media-breakpoint-up(md) { 
    margin-left: 215px;
   }
}






