@import "scss/variable";
@import "scss/mixins";
@import "~bootstrap/scss/bootstrap-grid.scss";

:host {
    @extend %maximize;
    $var-border: size(1px) solid transparentize(map-get($colors, stormgrey), 0.75);
    padding: size(30px) 0 0;
  
    @media screen and (max-width: 1280px) {
      padding: size(30px) 0
    }

        
    @media (max-width: 768px) {
      .pull-xs-left {
          float: left;
      }
      .pull-xs-right {
          float: right;
      }
    }

    .hide-small-devices{
      @media screen and (max-width:768px){
        display:none;
      }
    }

    .show-small-devices{
      @media screen and (min-width:768px) {
        display:none;
      }
    }

    .breadcrumb{
      background-color:#fff;
    }
  
    .badge-portal{
      color:#fff;
      background-color:#383a62;
      font-weight:normal;
      padding:0.4em 0.5em;
    }

    .open-color{
      color: #ff3e51;
    }
    .closed-color{
      color: #383A62;
    }
    .in-progress-color{
      color: #f5a623;
    }
    .scroll-container{
      position:relative;
      overflow:auto;
      overflow-x:hidden;
      height:300px;
    }
    .img-wrapper{
      position:relative;
      background:#dcdcdc;
      border-radius:100%;
      overflow:hidden;
      -webkit-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
      box-shadow: 0 2px 5px 0 rgba(38,129,213,0);

      img {
        width:100%;
        height:100%;
      }
    }

    .image_50{
      width:50px;
      height:50px;
      overflow:hidden;
      background-size:contain;
    }

    
    .styled-input-single {
      position: relative;
      padding: 0 0 0 20px;
      text-align: left;
      
      label {
        cursor: pointer;
        margin-bottom:0;
        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          border-radius: 50%;
        }
        &:before {
          left: 0;
          top: 5px;
          width: 10px;
          height: 10px;
          margin: 0;
          background: #f7f7f7;
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3)
        }
        &:after {
          left: 1px;
          top: 6px;
          width: 8px;
          height: 8px;
          margin: 0;
          opacity: 0;
          background: #37b2b2;
          transform: translate3d(-40px, 0, 0) scale(0.5);
          transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
        }
      }
      
      input[type="radio"],
      input[type="checkbox"] {
        position: absolute;
        top: 0;
        left: -9999px;
        visibility: hidden;
        
        &:checked + label {
          &:before {
          }
          &:after {
            transform: translate3d(0, 0, 0);
            opacity: 1;
          }
        }
      }
    }
    
    .styled-input--square {
      padding-top:5px;
      label {
        &:before,
        &:after {
          border-radius: 0;
        }
      }
    }

    button {
      padding: 0.3rem 0.75rem
    }

    button, a{
      .fa{
        margin-right:5px
      }
    }
    
    .block {
      color: #555555;
      display: block;
      border-radius: size(10px);
      box-shadow:0 0 4px 0 rgba(0, 0, 0, 0.05);
      padding-left: size(15px);
      padding-right: size(15px);
      margin-bottom: size(30px);
      -webkit-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
      background-color: #ffffff;
      position:relative;

      &.extra-shadow{
        box-shadow: 0px 15px 100px -35px rgba(0,0,0,0.75);
      }
      
      &.hide-outside{overflow:hidden;}      
      
      &::before, &::after{
        content: " ";
        display: table;
      }
  
      &::after{
        clear: both;
      }
  
      &:hover{
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
      }
  
      &>.title{
        background: transparent;
        border: size(0);
        padding: size(0);
        padding-top: size(10px);
        border-bottom: size(0);
        display: block;
        /*overflow: hidden;*/
        font-size: size(18px);
        text-overflow: ellipsis;
        line-height: size(21px);
        height: size(45px);
        white-space: normal;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        font-weight: bold;
        color: #555555;
        @media screen and (max-width:768px){
          overflow:initial;
          height:auto;
        }
      }

      img.product-image{
        display:none;
        @media screen and (max-width:768px) {
          display:initial;
          width:30px;
        }
      }

      div.product-image{
        @media screen and (max-width:768px) {
          display:none;
        }
      }

      .version-box{
        background:#383A62;
        color:#fff;
        min-height:50px;
        width: 30%;
        position:absolute;
        top:0;
        right:0;
        bottom:0;

        @media screen and (max-width:768px){
          display:none;
          visibility: hidden;
        }

        .version{
          font-size:28px;
          padding:60px 30px;
          text-align:center;
        }

        .update, .lem-expire {
          
          padding:5px 10px;
          background:#333;
          font-size:12px;
          position:absolute;
          left:0;
          right:0;

          &.up-to-date {
            background:#135eb9;
            color:#ffffff;
          }

          &.out-of-date {
            background:#ce172c;
            color:#ffffff;
          }

          &.to-run-out {
            background: #ffae5f;
            color:#ffffff;
          }

          .fa{
            margin-right:5px;
          }
        }
        .update{
          bottom:0;
        }
        .lem-expire{
          top:0;
        }

      } 
  
      &>.content{
        word-wrap: break-word;
        word-break: break-word;
        position: relative;
        padding: 16px 0 0 0;
        font-size: size(14px);
        padding-top: size(8px);
        padding-bottom: size(16px);
        margin-top: size(10px);
        border: size(0);
        border-top: 1px solid #eeeeee;
        min-height:325px;

        .block-loading {
            position: absolute;
            left: -15px;
            bottom: 0;
            right: -15px;
            top: 0;
            background: rgba(178,178,178,.5);
            z-index: 1000;
            text-align: center;
            vertical-align: middle;
            font-size: 36px;
            color: #777;
            
            .spinner{ 
              margin-top: -18px;
              position: absolute;
              top: 50%;
            }
        }

        &.no-border{border-top:0;padding-top:0}
        &.clean-content{
          &:not(.product-item){
            border-top:0;
            padding-top:0;
          }
          min-height:auto;
        }

        /* Version Box */

        .card {
          padding-top:3px;
        }

        .product{

          .card-title{
            margin-bottom:5px;
            font-size:18px;
          }
          .card-text{
            margin-bottom:5px;
            .fa{
              margin:0 5px;
            }
          }
        }
        


        /* Profile sidebar */
        .profile-sidebar {
          padding: 20px 0 10px 0;
          background: #fff;

          .profile-userpic {
            img {
              float: none;
              margin: 0 auto;
              width: 50%;
              height: 50%;
              -webkit-border-radius: 50% !important;
              -moz-border-radius: 50% !important;
              border-radius: 50% !important;
            }
          }
          .profile-usertitle {
            text-align: center;
            margin-top: 20px;
  
            .profile-usertitle-name {
              color: #5a7391;
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 7px;
            }
  
            .profile-usertitle-job {
              text-transform: uppercase;
              color: #5b9bd1;
              font-size: 12px;
              font-weight: 600;
              margin-bottom: 15px;
              span{
                &+span{
                  &:before{
                    content:"/";
                    margin-left: 5px;
                    margin-right: 5px;
                  }
                }
              }
            }
          }
        }

        input.form-control, select.form-control{
          height:size(35px);
        }

        .form-control{
          font-size:size(14px);
          border-radius:0;
          padding:8px 10px;
        }

        select.form-control{
          padding: 0 8px;
        }

        &>.content-container{
          margin-top:size(-9px);
        }

        .re-design{
          &.input-group{
            input.form-control{
              height:35px;
              border:none;
              border-radius:none;
              background:#f8f8f8;
              padding:8px 10px;
              font-size:14px;

              &:focus{
                box-shadow: inset 0 0 0 #ddd;
              }
            }
            .input-group-append{
              &>.input-group-text{
                border:none;
                border-radius:none;
                color:#555555;
                background:#f8f8f8;
              }
            }          
          }
          &input.form-control, &select.form-control {
            height:35px;
          }
          &.form-control {
            border:none;
            border-radius:none;
            background:#f8f8f8;
            padding:8px 10px;
            font-size:14px;
            &:focus{
              box-shadow: inset 0 0 0 #ddd;
            }
          }
          
        }
  
        .information-box {
          margin: auto;
          padding: 0 0 10px 0;
          text-align: center;
  
          .left, .middle, .right {
            padding: 5px;
          }
  
          .middle {
            border-left: 1px solid #eee;
            border-right: 1px solid #eee;
          }
          
          .left span, .right span, .middle span {
            display:block;
            font-size:12px;
            
            &>strong{
              font-size:36px;
              font-weight: 600;
            }
          }
          
        }
        
        .graph-box {
          @include transition();
          color: #F5F5F5;
          border:none;
          border-top:1px solid #eeeeee;
  
          .graph-label {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: map-get($colors, white);
            height: size(180px);
            padding: size(20px) 0;
  
            .graph-label-time {
              font-weight: 500;
              color: map-get($colors, pastelgreen);
  
              .numeric {
                font-size: size(41px);
                line-height: 100%;
              }
  
              .period {
                font-size: size(10px);
                text-align: center;
                display: flex;
                flex-direction: column;
                line-height: 100%;
              }
            }
  
            .graph-label-title {
              font-family: $font-default;
              font-size: size(10px);
              font-weight: 900;
              color: transparentize(map-get($colors, deepblue), 0.4);
              width: size(100px);
              display: flex;
              flex-direction: column;
              text-align: center;
              margin-top: size(10px);
            }
  
            .graph-label-note {
              font-family: $font-default;
              font-size: size(10px);
              font-weight: 500;
              text-align: center;
              color: transparentize(map-get($colors, deepblue), 0.6);
              bottom: size(-22px);
              position: relative;
            }
          }
  
          .graph-block {
            padding-left:size(0px);
            height: size(190px);
  
            &::before {
              content: '';
              height: 100%;
              border-radius: size(2px);
              width: size(2px);
            }
          }
        }
  
        .extra-info{
          padding: 0;
          color: #555555;
        }
  
        .core-block-categories {
          margin-top: -8px;
          margin-bottom: -8px;
  
          ul.action{
            margin-left: -16px;
            margin-right: -16px;
            li {
              border-bottom: 0;
              position: relative;
  
              &:last-of-type{
                border-radius: 0 0 6px 0px;
                .category-item {
                  border-radius: 0 0 6px 0px;
  
                  &::before {
                    border-radius: 0 0 0 6px;
                  }
  
                  .name {
                    border-bottom: 0;
                  }
                }
                
              }
  
              &::after{
                content: "";
                left: 0;
                right: 0;
                top: -1px;
                height: 1px;
                background-color: #f3f8fd;
                position: absolute;
                opacity: 0;
              }
  
              &:hover{
                .category-item {
                  background-color: #f3f8fd;
  
                  &::before {
                    opacity: 1;
                  }
                }
              }
  
              .category-item{
                -webkit-transition: all 300ms ease;
                -o-transition: all 300ms ease;
                transition: all 300ms ease;
                position: relative;
                padding-left: 16px;
                padding-right: 16px;
  
                &::before{
                  content: "";
                  height: 100%;
                  position: absolute;
                  right: 100%;
                  width: 4px;
                  background: #1e67aa;
                  opacity: 0;
                  -webkit-transition: all 300ms ease;
                  -o-transition: all 300ms ease;
                  transition: all 300ms ease;
                }
  
                
                .name {
                  border-bottom: 1px solid #eeeeee;
                  padding-top: 10px;
                  padding-bottom: 10px;
                  min-height: 40px;
                  display: flex;
                  color: #555555;
                  align-items: center;
  
                  i.icon{
                    margin-right: size(10px);
                  }
  
                }
              }
            }
          }
        }
      }
  
      &>.bottom{
        margin-top: 0;
        border-top: 1px solid #eeeeee;
        padding: 10px 0;
        font-size: 12px;
        line-height: 18px;
        max-height: 48px;
        color:#555555;
        text-align:right;
        &::before, &::after{
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
        }
        &::before{
          content: "\f104";
          margin-right:5px;
        }
        &::after{
          content: "\f105";
          margin-left:5px;
        }
  
        &>a{
          font-size: 12px;
        }
      }
      
      
    }
  
    ul.action{
      padding: 0;
      margin: 0;
      list-style-type: none;
      position: relative;
      &>li{
        border-bottom: 1px solid #eeeeee;
        display: block;
        position: relative;
      }
    }

    ul.member-listing{

      margin:0;
      padding:0;

      li{
        list-style:none;
      }
      
      .item-listing{
        margin-top:8px;
        padding-top:8px;
        border-top:1px solid #eee;

        &:first-child{
          border-top:0;
          padding-top:0;
          margin-top:0;
        }
      }

      .item-outer{
        display:flex;

        .item-media{
          margin-right:12px;
          min-width:40px;

          .img-wrapper{
            width:40px;
            height:40px;
            -webkit-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
            box-shadow: 0px 6px 12px 0px rgba(38,129,213,0)
          }
        }

        .item-inner{
          flex: 1;
          min-width:0;
          overflow:hidden;

          .user-profile-link{
            display:block;
            margin-bottom:2px;
            color:#555555!important;
            font-weight:600!important
          }
          .user-info {
            color: #a2a2a2;
            font-size:12px;
            -webkit-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
          }
        }
      }

      
    }
  
    @include media-breakpoint-only(xs) {
      padding: size(90px) 0 0 0;
    }

  .block-container {
    word-wrap: break-word;
    word-break: break-word;
    position: relative;
    padding: 16px 0 0 0;
    font-size: size(14px);
    padding-top: size(8px);
    padding-bottom: size(16px);
    margin-top: size(10px);
    border: size(0);
    border-top: 1px solid #eeeeee;
    min-height: 325px;

    .block-loading {
      position: absolute;
      left: -15px;
      bottom: 0;
      right: -15px;
      top: 0;
      /*background: rgba(178,178,178,.5);*/
      z-index: 1000;
      text-align: center;
      vertical-align: middle;
      font-size: 36px;
      color: #777;

      .spinner {
        margin-top: -18px;
        position: absolute;
        top: 50%;
      }
    }
  }


  /* start Preloader */
  .block-loading-full{
    /* z-index: 9001;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .spinner {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      font-size: 36px !important;
      color: #777;
    }
  }

}

.circular--portrait {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.circular--portrait img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
