@import "../../scss/ui/variable";
@import "../../scss/ui/mixins";
@import "~bootstrap/scss/bootstrap";


:host /deep/ span.ng2-smart-page-link.page-link.ng-star-inserted {
  background-color: map-get($colors, main-blue);
  border-color: map-get($colors, main-blue);
}

:host /deep/ table thead tr:nth-child(even) {
    background: map-get($colors, white) !important;
  }
  
  :host /deep/ table thead {
    background: map-get($colors, main-blue) !important;
    border-radius: size(4px);
    color: map-get($colors, white);
    line-height: size(10px);
  }
  
  :host /deep/ table tbody tr:nth-child(even) {
    // background: white!important;
    border-bottom: 1px solid map-get($colors, border-gray);
  
  }
  :host/deep/table tbody tr:ng-star-inserted{
    //childrow'un colspanını 3 yapmaya çalışıyorum
    column-span: 3 ;
  }
  
  :host /deep/ table tbody tr:nth-child(odd) {
    // background: map-get($colors,light-gray) !important;
    border-bottom: 1px solid map-get($colors, border-gray);
  }
  
  :host /deep/ ng2-smart-table-title {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
  }
  
  :host /deep/ ng2-smart-table-title>a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
  
  }
  
  :host /deep/ ng2-st-tbody-edit-delete {
    display: flex !important;
    height: 0 !important;
  }
  
  :host /deep/ th.ng2-smart-actions.ng-star-inserted {
    width: 125px !important;
  }
  
  
  :host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
    display: inline-block;
    width: 25px;
    text-align: center;
    font-size: 1.1em;
    margin-left: 5px;
    font-size: 12px;
  }
  
  :host /deep/ table tbody {
    // background: map-get($colors,light-gray) !important;
    font-size: 12px;
  }
  
  
  :host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
    box-shadow: 0 10px 10px 0 rgba(106, 120, 245, 0.15);
  }
  
  
  
  :host /deep/ ng2-st-tbody-custom a:last-child {
    background: map-get($colors, green);
  
    color: white;
    border-radius: size(5px);
  
    i {
      font-size: size(15px);
    }
  }
  
  //:FOR TABLE PAGINATION
  :host /deep/ ng2-smart-table-pager.ng-star-inserted {
    display: flex;
    justify-content: flex-end;
    margin-top: size(30px);
  }
  
  //: For pagination button style
  :host /deep/ a.ng2-smart-page-link.page-link.page-link-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    height: size(35px);
  }
  
  //: For pagination button style
  :host /deep/ a.ng2-smart-page-link.page-link.page-link-next {
    display: flex;
    justify-content: center;
    align-items: center;
    height: size(35px);
  }
  