@import "../../scss/ui/variable";
@import "../../scss/ui/mixins";
@import "~bootstrap/scss/bootstrap";
@import "../../scss/ui/_ngTable";

.ats-card {
  height: auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(106, 120, 245, 0.15);

  .input-area {
    display: flex;
    justify-content: center;

    .search {
      width: size(350px);
      height: size(35px);
      margin-bottom: size(20px);
      border-radius: size(20px);
      box-shadow: 0 0 size(10px) 0 rgba(106, 120, 245, 0.15);
      border: solid 1px #eaeaea;
      background-color: map-get($colors, white);

    }

    ::placeholder {
      padding-left: 30px;
      opacity: 0.4;
      font-size: size(14px);
      color: var(--greyish-brown);
    }
  }

  .card-title {
    .title {
      margin-left: 10px;
      font-size: 23px;
      font-weight: 500;
      color: #111111;
    }
  }
}

.ats-margin-top {
  margin-top: 30px;
}

.btn-detail {
  box-shadow: none;
  border: 1px solid #28a745;
  color: #28a745;
  background: white;
  border-radius: 6px;
  text-shadow: none;
  font-size: 15px;
  padding: 5px 9px;
}

.btn-detail:hover {
  background: #28a745;
  color: white;
}
