<div class="ats-card">
    <div class="card-title">
      <div class="title">
        Tamamlanmış Sipariş
      </div>
    </div>
    <div class="input-area">
      <input #search class="search" type="text" placeholder="Aramak istediğiniz veriyi giriniz"
        (keydown.enter)="onSearch(search.value)">
    </div>
    <ng2-smart-table [settings]="settings" [source]="complatedOrder" >
    </ng2-smart-table>
    <div class="table-responsive">
  
    </div>
  </div>
  <div class="ats-card ats-margin-top" [hidden]="isShow">
    <div class="card-title">
      <div class="title">
        Sipariş Detayı
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">
  
          <th>
            Sipariş Id
          </th>
          <th>
            Oluşturulma Tarihi
          </th>
          <th>
            Cari Kodu
          </th>
          <th>
            Statü
          </th>
          <th>
            Detay
          </th>
        </thead>
        <tbody>
          <tr class="item" *ngFor="let detail of newOrder" [hidden]="isShow">
            <td>{{detail.item.name}}</td>
            <td>{{detail.item.color}}</td>
            <td>{{detail.item.floor}}</td>
            <td>{{detail.item.rope}}</td>
            <td>{{detail.item.pattern}}</td>
            <td>{{detail.item.strike}}</td>
          </tr>
      </table>
    </div>
  </div>